@import "tailwindcss";
@source "../**/*.{ts,tsx,js,jsx,mdx}";
@source "../../node_modules/preline/dist/*.js";
@import "preline/variants.css";
@plugin "@tailwindcss/forms";
@import "preline/css/themes/theme.css";
